$home_background: #0C63B7;
$button-background: #0D4AA2;
$home_color: #FFFFFF;
$active-color: #4ED2F9;
$success-color: #006AFB;
$header-color: #4D4D4D;
$body-color: #666666;
$label-color: #666666;
$border-color: #666666;
$sidebar-text-color: #1256B3;
$partner-color: #068C33;
$active-partner-color: #66CC00;
$green-color: #7C9C46;
$red-color: #BF272C;
$red-text-color: #EB1C24;
$input-background: url("../images/input-background.png") $home_background left top;


$layout-padding-left: 4rem;
