@import "variables";

#digital-national-id-doc,
#payslip-from-company {
  color: #000;
  margin-top: 2vh;
  .ddr-logo {
    width: 250px;
    // margin-bottom: 20px;
  }

  .underline {
    border-bottom: 1px solid #cacaca;
    display: inline-block;
    padding-left: .5em;
  }

  .doc-no {
    .underline {
      width: 125px;
    }
    font-size: 12px;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 40px auto;
  }

  .content {
    width: 86%;
    margin: 0 auto;

    .left-content{

    }

    .doc-row {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    label {
      margin-bottom: 0;
      line-height: 1;
      color: #666;
      font-style: italic;
      margin-right: .5em;
    }
    .underline {
      width: 55%;
      &.id-number {
        width: 55%;
      }
    }

    .row.address {
      .doc-row {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .underline {
        width: 65%;
      }
    }

    .id-card-image {
      background-color: #fafafa;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .signature {
      margin-top: 40px;
      p {
        line-height: 1;
        font-size: 13px;
        font-style: italic;

      }
      .signature-image {
        width: 100%
      }
    }
  }

  .container.container-border {
    max-height: 100%;
  }
  table {
    font-size: 13px;
  }
  .note {
    font-size: 13px;
    font-weight: 700;
  }
}
