@import "variables";

#job-applications-form,
#transcript-request-form {
  h1 {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .description {
    color: #808080;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    font-weight: 900;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    margin-top: 30px;
    .personal-information-description,
    .education-description {
      font-weight: 400;
      font-size: 16px;
      font-style: italic;
      color: #808080;
    }
  }

  &.verify {
    h2 {
      text-align: left;
    }

    .vs-con-input-label .vs-con-input .icon-inputx.icon-after {
      color: $partner-color;
      font-weight: bold;
      font-size: 28px;
      line-height: 35px;
      right: 10px !important;
    }

    .vs-con-input-label.fail .vs-con-input .icon-inputx.icon-after {
      color: $red-color;
    }
  }

  .big-btn {
    margin-top: 30px;
  }
}

#transcript-request-form {
  .description {
    margin-bottom: 60px;
  }
  .vs-con-input-label .vs-con-input .icon-inputx.icon-after {
    top: 15px;
  }
}
