@import "_variables";

#home {
  min-height: 100vh;
  background-color: $home_background;
  color: $home_color;
  background: url("../images/home.png") $home_background right bottom;
  background-size: 58% auto;
  background-repeat: no-repeat;

  h1 {
    font-size: 80px;
    font-weight: 900;
    color: $active-color;
    line-height: 1;
    img {
      height: 60px;
    }
  }

  .sub-header {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    vertical-align: top;
  }

  .header-description {
    margin-top: 16px;
    font-size: 20px;
    font-style: italic;
  }

  .register-btn {
    cursor: pointer;
    width: 100%;
  }

  .home-features {
    width: 100%;
  }

  .sign-in {
    color: $active-color;
  }

}


@media (min-width: 1800px) {
  #home {
    background-size: 58% auto;
    padding-left: 3rem;
  }
}
