@import "_variables";

body {
  font-family: "Segoe UI", "Lato", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-color !important;
  font-size: 18px !important;
  background: #fff;
}

::selection {
  background-color: $success-color;
  color: white;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease;
  -webkit-transform: translate(0);
  transform: translate(0);
  width: 68px;
}

.container.container-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1.83px 7.32px 5.13px rgba(0, 0, 0, 0.1);
  max-width: 70% !important;
  /*max-height: 90vh;*/
  padding: 5vh;
  margin-bottom: 7vh;
}

a {
  transition: all 0.3s ease-in-out;
}

.main-divider {
  margin-bottom: 30px !important;
  .after,
  .before {
    border-top: 10px solid rgba(0, 0, 0, 0.1) !important;
  }
}

.container.back-link {
  max-width: 70% !important;
  padding: 5px 0 20px 0;
  a {
    color: $success-color !important;
    border-bottom: 1px solid $success-color;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    text-decoration: none !important;
    color: $active-color !important;
    border-bottom: 1px solid $active-color;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1920px !important;
  }
}

.vs-input--label {
  color: $label-color !important;
  margin-top: 20px;
  padding-left: 1px !important;
  font-size: 16px !important;
  font-style: italic;
}

.vs-input--placeholder {
  top: 6px !important;
}

.vs-con-input-label > span,
.con-select > span {
  min-height: 20px;
  width: auto;
  display: block;
}

.input-icon-validate-danger .input-icon-validate {
  line-height: 40px;
}

.vs-con-input-label .vs-con-input .vs-inputx {
  border-radius: 3px !important;
  border-color: $border-color;
  background: white url("../images/input-background.png") repeat-x;
  background-size: 1px 10px;
  color: #131313;
}

.light-input {
  &.vs-con-input-label {
    width: 100%;
    .vs-con-input .vs-inputx {
      border-radius: 3px !important;
      border-color: #c9c9c9 !important;
      background-size: 1px 10px;
      background: white;
    }
  }

  &.con-select {
    width: 100%;
    .vs-select--input {
      border-radius: 3px !important;
      border-color: #c9c9c9 !important;
      background-size: 1px 10px;
      background: white;
      font-size: 18px;
      padding: 1rem;
    }
  }

  &.vs-input-primary.isFocus .vs-input--label,
  &.vs-input-primary .vs-input--input:focus ~ .icon-inputx {
    color: #131313;
  }

  .vs-input--input.hasValue + .vs-placeholder-label,
  .vs-input--input:focus + .vs-placeholder-label,
  .vs-input--placeholder {
    font-size: 1rem;
  }
}

.vs-con-input-label .vs-con-input .icon-inputx.icon-after {
  border-left: none !important;
  right: 30px !important;
  font-size: 23px;
}

.vs-component.con-vs-checkbox {
  justify-content: left;
  margin-left: 0;
}

.vs-select--input {
  color: #131313 !important;
}

.v-date-picker-table .v-btn.v-btn--active {
  color: #006afb;
}

.big-btn,
.big-btn:hover {
  box-shadow: 0px 5.8px 0px $active-color !important;
  &.partner-btn {
    box-shadow: 0px 5.8px 0px $active-partner-color !important;
    background-color: $partner-color !important;
  }
  &.work-with-us-btn {
    box-shadow: 0px 5.8px 0px #058b32 !important;
    background-color: #f0c71c !important;
  }
}

.big-btn {
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: $button-background !important;
  .vs-button-text {
    font-size: 20px;
    text-transform: uppercase;
    padding: 3px 37px;
    font-weight: 900;
  }
  &.light-btn {
    background-color: $success-color !important;
  }
  &.home-btn {
    background-color: $home-button-color !important;
    border-radius: 3px;
    margin-bottom: 10px;
    .vs-button-text {
      padding: 5px 7px;
    }
    max-width: 320px;
  }

}

.vs-button-primary.vs-button-filled {
  background-color: $button-background;
}

.very-big-btn {
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: $button-background !important;
  box-shadow: 0px 6px 0px $active-color !important;
  .vs-button--text {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 900;
  }
  &.register-btn {
    .vs-button--text {
      font-size: 30px;
    }
  }
  &.work-with-us-btn {
    box-shadow: 0px 8px 0px #058b32 !important;
    background-color: #f0c71c !important;
  }
}
