@import "_variables";

.vs-navbar {
  color: $home_color;
  flex-wrap: wrap;
  justify-content: space-around;
  .vs-navbar--item {
    margin-right: 2%;
    a {
      font-size: 14px !important;
      color: $new-active-color !important;
      font-weight: 400;
      line-height: 1;
      span {
        display: inline-block;
        line-height: 1;
        padding-left: 7px;
      }
      i {
        color: $new-active-color;
      }
      span,
      i {
        vertical-align: middle;
      }
      .vs-button--text {
        vertical-align: baseline;
      }
    }
    .partner-channel-btn {
      border-radius: 20px;
      padding: 5px 15px;
    }
    .router-link-active {
      color: $new-active-color !important;
      font-weight: 700;
    }
    .menu-icon {
    }
  }

  .vs-navbar-item:last-child {
    margin-right: 100px;
  }
}

header.vs-navbar .vs-navbar-item-primary:hover > a {
  color: $new-active-color !important;
  font-weight: 700;
}
