@import "variables";

#user-connecting {
  h1 {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    width: 70%;
    margin: 40px auto;
  }
  .connected-image {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
  p.description {
    font-size: 18px;
    font-style: italic;
    color: #000;
    font-weight: 300;
    max-width: 80%;
    margin: 0 auto 40px;
  }

  .connected-btn {
    width: 25%;
    display: block;
    margin: 0 auto 40px;
    img {
      cursor: pointer;
      width: 100%;
    }
  }
}
